<!DOCTYPE html>
<html>
<head>
	<title>Confirmation</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
	<div class="outer">
		<% if (t == 'e') { %>
		<div align="center" class="maintitle">
			<p style="color:white"> 등록할 수 없습니다</p>
		</div>
		<% } else if (t == 's') { %>
		<div align="center" class="maintitle">
			<p style="color:white"> 등록되었습니다</p>
		</div>
		<% } %>
		<div align="center">
		<form action="/">
			<input type="submit" class="confirm_button" value="메인 페이지로"/>
		</form>
		</div>
	</div>

</body>