<!DOCTYPE html>
<html>
<head>
	<title>Confirmation</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
	<div class="outer">
		<% if (t == 'e') { %>
		<p>Error</p>
		<% } else if (t == 's') { %>
		<p>Success</p>
		<% } %>
		<form action="/">
			<input type="submit" class="confirm_button" value="Go to main page"/>
		</form>
	</div>

</body>