html, body {
	background-color: #6699bb;
	margin: 0px 0px 0px 0px;
}

.maintitle{
	font-size: 30px;
}

.content{
	margin-top: 0px;
	font-size: 16px;
}

.mainbox {
	width: 100%;
	text-align: center;
	display: table;
}

.bigbox {
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	margin: auto;
	width: 800px;
	height: 400px;
	alignment-baseline: center;
	align-content: center;
}

.item {
	border: 2px solid #FFFFFF;
	border-radius: 3px;
	width: 400px;
	height: 200px;
	display: inline-block;
	margin: 10px;
	font-family: 'Nanum Gothic', serif;
	padding: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item_title {
	font-size: 16px;
	color: white;
}

.line{
	border:1.5px dashed #555;
}

.list_button {
	position: absolute;
	right: 3%;
	top: 40px;
	margin-right: 20px;
	background-color: transparent;
	color: white;
	border: 2px solid #FFFFFF;
	border-radius: 8px;
	font-size: 16px;
}

.logout_button {
	position: absolute;
	right: 3%;
	margin-top: -28px;
	margin-right: 20px;
	background-color: transparent;
	color: white;
	border: 2px solid #FFFFFF;
	border-radius: 8px;
	font-size: 16px;
}

.button{
	margin-right: 20px;
	background-color: transparent;
	color: white;
	border: 2px solid #FFFFFF;
	border-radius: 8px;
	font-size: 16px;
}

.buttoncenter{
	background-color: transparent;
	color: white;
	border: 2px solid #FFFFFF;
	font-size: 15px;
}

.buttonhome{
	margin-top: 15px;
	background-color: transparent;
	color: white;
	width: 80px;
	border: 2px solid #FFFFFF;
	font-size: 20px;
}

.mybigbox {
	margin: auto;
	width: 900px;
	height: 440px;
	alignment-baseline: center;
	align-content: center;
}

.myside {
	width: 50%;
	height: 100%;
	text-align: center;
	font-family: 'Nanum Gothic', serif;
}

.myitem {
	border: 2px solid #FFFFFF;
	border-radius: 3px;
	width: 95%;
	height: 350px;
	display: inline-block;
	margin: 10px;
	font-family: 'Nanum Gothic', serif;
	padding: 10px;
}
