html, body {
	background-color: #863253;
	margin: 0px 0px 0px 0px;
}

.maintitle{
	font-size: 30px;
}

.content{
	margin-top: 0px;
	font-size: 16px;
}
.mainbox {
	width: 100%;
	background-color: #863253;
	text-align: center;
	display: table;
}

.bigbox {
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	margin: auto;
	width: 800px;
	height: 400px;
	alignment-baseline: center;
	align-content: center;
}

.item {
	border: 2px solid #FFFFFF;
	border-radius: 3px;
	width: 400px;
	height: 160px;
	display: inline-block;
	margin: 10px;
	font-family: 'Nanum Gothic', serif;
	padding: 10px;
}

.line{
	border:1.5px dashed lightgray;
}

.button{
	margin-right: 20px;
	background-color: transparent;
  color: white;
  border: 2px solid #FFFFFF;
	font-size: 15px;
}

.buttoncenter{
	background-color: transparent;
  color: white;
  border: 2px solid #FFFFFF;
	font-size: 15px;
}

.mybigbox {
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	margin: auto;
	width: 900px;
	height: 440px;
	alignment-baseline: center;
	align-content: center;
}

.myside {
	width: 48%;
	height: 100%;
	text-align: center;
	font-family: 'Nanum Gothic', serif;
}

.myitem {
	border: 2px solid #FFFFFF;
	border-radius: 3px;
	width: 90%;
	height: 350px;
	display: inline-block;
	margin: 10px;
	font-family: 'Nanum Gothic', serif;
	padding: 10px;
}